<div class="index">
    <%# <h1 class="text-center">Under the Hood</h1>
    <h3 class="text-center">A vehicle mantainence log</h3>%>

    <div class="row">
        <div class="col-xs-12 well text-center">
            <p>Under The Hood is your personal log for all your car maintainence</p>
            <p>Just add your car and start logging the services performed</p>
        </div>
    </div>


    <div class="row">
        <div class="well">
            <img class="indexImg" src="/img/garage.png" alt="garage">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 well text-center">
            <p>View all your logs at once</p>
            <p>Change or Delete them at will</p>
        </div>
    </div>

    <div class="row">
        <div class="well">
            <img class="indexImg" src="/img/log.png" alt="garage">
        </div>
    </div>
</div>
